$pageMaxWidth: 1440px;
$small: 600px;
$smallUp: 600px;
$mediumUp: 768px;
$largeUp: 1024px;

.headline-2 {
  font-family: 'Source Code Pro', monospace;
  font-size: 32px;
  font-weight: 700;
}

.headline-3 {
  font-family: 'Source Code Pro', monospace;
  font-size: 24px;
  font-weight: 700;
}

.body-1 {
  font-family: 'Source Code Pro', monospace;
  font-size: 18px;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
